@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;

}

:not(main, .container, .container img, html, header, body) {
    padding: 5px;
}

main,
.container,
.container img {
    margin: 0;
}

button {
    border: none;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
}

article:hover {
    /* not working */
    border: 5px;
}

article button {
    color: white;
    background-color: red;
    border-radius: 25px;

}

.container {
    position: relative;
    text-align: center;
    color: white;
    width: auto;
    height: auto;
}

article img {
    width: 80px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container img {
    width: 100%;
    height: 350px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

li {
    display: inline;
}

select {
    outline: none;
    border: none;
    cursor: pointer;
    appearance: none;
}

body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5%;
    margin-right: 5%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px;
    border-bottom: 1px solid #bebebe;
}

a:link,
a:visited {
    color: black;
    text-decoration: none
}

header label {
    position: relative;
}

header ul {
    margin: 0px;
}

header button {
    font-size: 16px;
}

.left div{
    position: relative;
}

article {
    display: inline-block;
}

article:hover,
nav div span button[type="submit"]:hover {
    border: .5px solid #000000;

}

article div {
    padding: 10px;
    text-align: center;
}

footer div div,
footer div select {
    float: right;
}

footer .buttom,
header {
    opacity: 50%;
}

.logo .menu {
    margin-top: 25px;
    justify-content: space-between;
}


nav div span button[type="submit"] {
    background-color: gold;
    border-radius: 25px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
    padding-left: 20px;
    padding-right: 20px;
}

aside {
    width: 250px;
    background-color: rgb(170, 56, 56);
    padding-top: 20px;
}

article {
    background-color: coral;
}

aside,
article {
    display: inline-block;
    vertical-align: top;
    word-wrap: break-word;
    margin: 10px;
}

#wrapper {
    text-align: center;
}

main {
    background-color: rgb(241, 241, 241);
}

/*
select {
    border-radius: 3px;
    font-size: 14px;
    color: #000000;
    background: url("media/dwonarrow.svg") no-repeat;
    background-size: 15px;
    background-position: right 5px top 50%;
} */

.logo img{
    float: left;    
}

.categoreis {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainNav span:not(.left span){
position: relative;
bottom: 37px;
}