@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
}

button {
    border: none;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
}

article:hover {
    /* not working */
    border: 5px;
}

article button {
    color: white;
    background-color: red;
    border-radius: 25px;

}

.container {
    position: relative;
    text-align: center;
    color: white;
    width: auto;
    height: auto;
}

article img {
    width: 80px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container img {
    width: 700px;
    height: 150px
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

li {
    display: inline;
}

select {
    outline: none;
    border: none;
    cursor: pointer;
    appearance: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categoreis{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header label {
    position: relative;
}

article {
    display: inline-block;
}

article div {
    padding: 10px;
    text-align: center;
}